$card-width: 200px;
$card-height: 300px;
$card-margin: 10px;

.list {
  margin: 0 auto;

  @media (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card {
      width: calc(50% - #{$card-margin * 2}px);
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card {
      width: calc(33.33% - #{$card-margin * 2}px);
    }
  }

  @media (min-width: 1024px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card {
      width: calc(16.66% - #{$card-margin * 2}px);
    }
  }
}